#!/bin/bash

## Debugging
## echo "$(date) $@" >> /tmp/zfs.log

# validate, transform, intercept zfs invocations
# for example, filter out the `-o mountpoint=none` argument, etc.
# TODO
if [[ "$1" == create ]]; then
    shift
    set -e
    {{ zfs_binary_path.stdout }} create -u "$@"
    exit 0
fi

# fallthrough default
args=("$@")
exec {{ zfs_binary_path.stdout }} "${args[@]}"
