auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096
  log_level: warn

common:
  path_prefix: "{{ loki_path }}"
  storage:
    filesystem:
      chunks_directory: "{{ loki_path }}/chunks"
      rules_directory: "{{ loki_path }}/rules"
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

ruler:
  storage:
    type: local
    local:
      directory: "{{ loki_ruler_path }}"
  rule_path: /tmp/loki/rules-temp
  alertmanager_url: "{{ loki_alertmanager_protocol }}://{{ loki_alertmanager_host }}:{{ loki_alertmanager_port }}"
  ring:
    kvstore:
      store: inmemory
  enable_api: true
  enable_alertmanager_v2: true

query_scheduler:
  max_outstanding_requests_per_tenant: 4096

frontend:
  max_outstanding_per_tenant: 4096

query_range:
  parallelise_shardable_queries: true
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 128
        ttl: 2h

schema_config:
  configs:
    - from: 2020-01-01
      store: tsdb
      object_store: filesystem
      schema: v12
      index:
        prefix: index_
        period: 24h

compactor:
  retention_enabled: true
limits_config:
  retention_period: {{ loki_retention }}


# By default, Loki will send anonymous, but uniquely-identifiable usage and configuration
# analytics to Grafana Labs. These statistics are sent to https://stats.grafana.org/
#
# Statistics help us better understand how Loki is used, and they show us performance
# levels for most users. This helps us prioritize features and documentation.
# For more information on what's sent, look at
# https://github.com/grafana/loki/blob/main/pkg/usagestats/stats.go
# Refer to the buildReport method to see what goes into a report.
#
# If you would like to disable reporting, uncomment the following lines:
analytics:
  reporting_enabled: {{ loki_reporting_enabled }}

