[Service]
ExecStart=
ExecStart=/usr/bin/nginx -g 'pid /run/nginx/nginx.pid; error_log stderr;'
ExecReload=
ExecReload=/usr/bin/nginx -s reload -g 'pid /run/nginx/nginx.pid;'
User={{ nginx_user }}
Group={{ nginx_user }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
LockPersonality=true
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
RuntimeDirectory=nginx
PIDFile=/run/nginx/nginx.pid
MemoryDenyWriteExecute=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths={{ nginx_log_path }} /var/lib/nginx/
ProtectProc=invisible
UMask=077
ProtectClock=true
ProtectHostname=true
RestrictSUIDSGID=true
ProtectKernelTunables=true
ProtectKernelLogs=true
RestrictRealtime=true
ProtectControlGroups=true
ProtectHome=true
RestrictNamespaces=true
ProtectKernelModules=true
SystemCallArchitectures=native
RestrictAddressFamilies=AF_INET AF_INET6
SystemCallFilter=@system-service
