{% for ip in nsd_ipv4_address %}
ip daddr {{ ip }} {tcp, udp} dport 53 accept comment "allow dns for {{ ip }}"
{% endfor %}

{% for ip in nsd_ipv6_address %}
ip6 daddr {{ ip }} {tcp, udp} dport 53 accept comment "allow dns for {{ ip }}"
{% endfor %}
