{% for ip in nsd_ipv4_address %}
ip daddr {{ ip }} udp dport 53 accept comment "allow dns for {{ ip }}"
ip daddr {{ ip }} tcp dport 53 accept comment "allow dns for {{ ip }}"
{% endfor %}

{% for ip in nsd_ipv6_address %}
ip6 daddr {{ ip }} udp dport 53 accept comment "allow dns for {{ ip }}"
ip6 daddr {{ ip }} tcp dport 53 accept comment "allow dns for {{ ip }}"
{% endfor %}
