    location ~* ^.+\.({{ nginx_create_vhost_static_files | difference(nginx_create_vhost_static_files_blacklist) | sort | join('|') }})$ {
{% include './proxy.j2' %}
        proxy_cache nrpcache;
        proxy_cache_key "$scheme://$host$request_uri";
        proxy_cache_min_uses 2;
        proxy_cache_valid 300s;
        proxy_cache_valid 404 10s;
        proxy_cache_use_stale error timeout invalid_header updating http_500 http_502 http_503 http_504;
    }
