{% if nginx_create_vhost_type == "proxy" %}
{% include './proxy_upstream.j2' %}


{% endif %}
server {
{% for ip in nginx_create_vhost_ip %}
    listen {{ ip }}:443 ssl http2;
{% endfor %}

{% for domain in nginx_create_vhost_domain %}
    server_name {{ domain }};
{% endfor %}

{% if nginx_create_vhost_use_dehydrated %}
    ssl_certificate     /etc/dehydrated/certs/{{ nginx_create_vhost_domain[0] }}/fullchain.pem;
    ssl_certificate_key /etc/dehydrated/certs/{{ nginx_create_vhost_domain[0] }}/privkey.pem;
{% else %}
    ssl_certificate     {{ nginx_create_vhost_ssl_cert }};
    ssl_certificate_key {{ nginx_create_vhost_ssl_key }};
{% endif %}

    location / {
{% if nginx_create_vhost_type == "proxy" %}
{% include './proxy.j2' %}

{% endif %}
{% if nginx_create_vhost_type == "domain" %}
{% include './domain.j2' %}

{% endif %}
{% if nginx_create_vhost_custom_config is defined %}
        {{ nginx_create_vhost_custom_config }}{% endif %}
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
{% if nginx_create_vhost_whitelist | length > 0 %}
{% for ip in nginx_create_vhost_whitelist %}
        allow {{ ip }};
{% endfor %}
        deny all;
{% endif %}
    }
    access_log {{ nginx_log_path }}/{{ nginx_create_vhost_domain[0] }}-access.log main buffer=4k flush=60;
    error_log  {{ nginx_log_path }}/{{ nginx_create_vhost_domain[0] }}-error.log error;
}
