iifname "{{ lxd_bridge_name }}" {%- if lxd_traffic_accounting is true %} counter {%- endif %} accept
oifname "{{ lxd_bridge_name }}" {%- if lxd_traffic_accounting is true %} counter {%- endif %} accept
