{% if lxd_control_enable == true %}
config:
  core.https_address: {{ lxd_control_ip }}:{{ lxd_control_port }}
  core.trust_password: {{ lxd_control_pass }}
{% else %}
config: {}
{% endif %}
networks:
- config:
    ipv4.address: {{ lxd_bridge_ip }}
    ipv4.nat: "{{ lxd_bridge_nat }}"
    ipv4.dhcp: "true"
    ipv6.address: auto
  description: ""
  name: {{ lxd_bridge_name }}
  type: ""
  project: default
storage_pools:
- config:
    source: {{ lxd_storage_default_path }}
  description: "{{ lxd_storage_default_comment }}"
  name: {{ lxd_storage_default_name }}
  driver: {{ lxd_storage_default_backend }}
{% if lxd_storage_backup_enable == true %}
- config:
    source: {{ lxd_storage_backup_path }}
  description: "{{ lxd_storage_backup_comment }}"
  name: {{ lxd_storage_backup_name }}
  driver: {{ lxd_storage_backup_backend }}
{% endif %}
{% if lxd_storage_nobackup_enable == true %}
- config:
    source: {{ lxd_storage_nobackup_path }}
  description: "{{ lxd_storage_nobackup_comment }}"
  name: {{ lxd_storage_nobackup_name }}
  driver: {{ lxd_storage_nobackup_backend }}
{% endif %}
profiles:
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      network: {{ lxd_bridge_name }}
      type: nic
    root:
      path: /
      pool: {{ lxd_storage_default_name }}
      type: disk
  name: default
{% if lxd_storage_backup_enable == true %}
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      network: {{ lxd_bridge_name }}
      type: nic
    root:
      path: /
      pool: {{ lxd_storage_backup_name }}
      type: disk
  name: {{ lxd_storage_backup_name }}
{% endif %}
{% if lxd_storage_nobackup_enable == true %}
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      network: {{ lxd_bridge_name }}
      type: nic  
    root:
      path: /
      pool: {{ lxd_storage_nobackup_name }}
      type: disk
  name: {{ lxd_storage_nobackup_name }}
{% endif %}
projects: []
cluster: null
